$bodyBlack: #1C1B16;
$orange: #F25322;
$myGreen: #8FBC8F;
$fontWhite: #F9F5E1;
$fontGray: rgba(249, 245, 225, 0.5);
$gradientOrange: rgba(242, 83, 34, 0.81);
$gradientButtonHoverLight: #D23E11;
$gradientButtonHoverDark: rgba(155, 47, 14, 0.81);
$gradientButtonHover: #CC390B;
$black: black;
$white: white;